{{ partial "header.html" . }}
<br/>
<br/>
<center>
  Hi! I'm Preetham. 🎈<br/>
  
  This blog documents what I learn during my apprenticeship at HolidayCheck.<br/>
  
  Please use the links above to read more.
</center>
{{ partial "footer.html" . }}
