{{ partial "header.html" . }}
<div class="entry-content">
  <section id=content>
      <h1>Posts</h1>
  <ul class=posts_listing>
    {{ $posts := where $.Site.RegularPages "Section" "post" }}
    {{ range $posts }}
      <li>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	<time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
      </li>
    {{ end }}
  </ul>
</section>
</div>
{{ partial "footer.html" . }}
